<!DOCTYPE html>
<html lang="en" ng-app="myApp">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AngularJS IS NOT Angular</title>
    <link rel="stylesheet" type="text/css" href="content/css/styles.css">
    <script type="text/javascript" src="app/lib/angular.min.js"></script>
    <script type="text/javascript" src="app/app.js"></script>
  </head>
  <body>
    <header ng-include="'header.html'"></header>
    <div class="content">
      <div ng-controller="testController">
        <button ng-click="order='name'">Order by Name</button>
        <button ng-click="order='belt'">Order by Belt</button>
        <input type="text" ng-model="search">
        <ul>
          <li ng-repeat="ninja in ninjas | orderBy: order | filter: search" ng-show="{{ ninja.available }}">
            <h3>{{ ninja.name }} - {{ninja.rate | currency: '¥'}}</h3>
            <div class="remove" ng-click="removeNinja(ninja)">x</div>
            <span class="belt" style="background: {{ ninja.belt }};">{{ninja.belt}} belt</span>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
